<h4> Catalogue Image</h4>
<div class="custpicupl" style="background-color:black; ; background-image:url('@ViewBag.ctlgurl')">
    <input type="file" name="catalg" id="cfile" value="" class="editpic" />
    <img class="imgplus" src="~/Images/ICMS/plus_button.png" />
</div>
<br />