@model IEnumerable<DeWaltPOS.Models.VMRelatedProducts>

@Model.FirstOrDefault().Description

<h3>Products in this BestPractice</h3>


    @foreach (var item in Model)
    {
        //var thmb = item.Product1.ThumbImages.SingleOrDefault(p => p.id == item.RelatedProductId);
        //var thmburl = "";
        //if (thmb != null)
        //{
        //    thmburl = thmb.image;
        //}
         <a href="@Url.Action("Edit", "DewaltProduct", new {id = item.RelatedProductId })"> <img class="imgplus" src="@item.ThumbImage" style="width:150px;height:150px" /></a>

    }


